div.header-main{
 text-align: center;
 padding: 100px 0 35px;
 position: relative;
 color: white;
}


body{
    background-color:#3A2778 ;
}
div.signup-content{
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    
    width:800px;
    height:800px;
    background-color: #F9F9FB;
       border-radius: 5px;
       text-align: left;
       box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
       
}
div.signup-info h2{
color: #79589F;
}
div.signup-info{
    position: relative;
    display: inline-block;
        width:400px;
    margin: 50px;
             text-align: left;
      
}

div.registerform{
    position:absolute;
    top:40px;
    right: -30px;
    bottom: 40px;
    width: 250px;
    height: 700px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    


}
div.registerform select{
    width: 250px;
    
}
div.registerform input{
    width: 250px;
    
}

.submitBtn{
    color: white;   
    border-radius: 10px;
    background-color: #0650AA;
    height: 50px;
    width: 250px;
}