.header-main{
 
 padding: 100px 0 35px;
 position: relative;
 color: white;
}

.header-main h1{
    margin: auto;
    max-width: 400px;
    text-align: center;
}

.header-logo{
    position: absolute;
    width: 150px;
    height: 42px;
    display: block;
    top: 20px;
    font-size: 30px;
}
body{
    background-color:#3A2778 ;
    font-family: Arial, Helvetica, sans-serif;
}

div h2{
    margin: 0px 28px 15px;
}
div p{
    margin: 0px 0px 30px;
}
.signup-content{
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    
    width:800px;
    height:800px;
    background-color: #F9F9FB;
       border-radius: 5px;
       text-align: left;
       box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
       
}
.signup-info h2{
color: #79589F;
}
.signup-info{
    position: relative;
    display: inline-block;
        width:400px;
    margin: 50px;
             text-align: left;
      
}

.registerform{
    position:absolute;
    top:40px;
    right: -30px;
    bottom: 40px;
    width: 250px;
    height: 700px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    


}
.registerform label{
    padding: 0px 0px 5px;
    display: block;
}

.registerform select{
    width: 250px;
    padding: 10px
}
.registerform input{
    width: 250px;
    padding: 10px
}

.submitBtn{
    color: white;   
    border-radius: 10px;
    background-color: #0650AA;
    height: 50px;
    width: 250px;
}
.wrapper{
    padding-left: 20px;
    padding-right: 20px;
}